:root {
    --bg-header2: rgb(235, 17, 17);
    --bg-header: rgb(20, 20, 73);
    --font-header: Acorn, Roboto, sans-serif;
    --textsize-heading-lg: 3rem;
    --textsize-heading: 2rem;
    --textsize-subheading: 1.75rem;
    --textsize-body: 1.5rem;
    --textcolor-heading: white;
    --textcolor-body: rgb(20, 20, 73);
    --textcolor-accent: rgb(235, 17, 17);
    --bg-body: rgb(130, 179, 253);
    --font-body: Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-body);
}

header, footer {
    color: var(--textcolor-heading);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--textcolor-heading);
    background-color: var(--bg-header);
    font-family: var(--font-header);
    padding: 1rem;
}

.footer-links, .social-media {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-links {
    justify-content: space-around;
    width: 100%;
}

.footer-links > li {
    flex: 1;
    text-align: center;
}

.social-media {
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}

.social-media > li {
    flex: 1;
    text-align: center;
}

.title-container {
    background-color: var(--bg-header2);
    width: 100%;
    border-radius: 10px;
    padding: .5rem;
}

h1{
    font-size: var(--textsize-heading-lg);
    padding: 2rem;
    color: var(--textcolor-body);
}

header h1 {
    color: var(--textcolor-heading);
    font-size: var(--textsize-heading);
    text-align: center;
    padding: 0;
}

h2 {
    padding: 2rem;
    font-family: var(--font-header);
    font-size: var(--textsize-subheading);
    color: var(--textcolor-heading);
}

header h2 {
    padding: 1rem .5rem 0 .5rem;
}

footer h2 {
    padding: .5rem;
}


section p, li{
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--textcolor-body);
    font-size: var(--textsize-body);
    padding: .5rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 4rem;
    max-width: 900px;
    height: 100vh;
}

#hero {
    max-width: none;
}

#expert {
    /* height: 80vh; */
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    max-width: none;
}

#cta {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.expert-details, .expert-photo {
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

.expert-details-div {
    display: flex;
    flex-direction: column;
    gap: 2rem; /*Add spacing between child elements */
}

.expert-details h1 {
    display: inline-block;
    position: relative;
}

.expert-title {
    margin-bottom: 2rem; /* Add spacing below the title */
}

.expert-bio {
    margin-bottom: 2rem; /* Add spacing below the bio */
}

.testimonial {
    padding: 2rem;
    font-style: italic;
    color: black;
}

.testimonial span{
    margin-left: 40px;
}

#expert-image {
    width: auto;
    height: 100%;
}

.expert-photo-div {
    background-color: white;
    padding: 1rem; */
    width: 400px; /* Set a fixed width */
    height: 400px; /* Set a fixed height */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.starburst {
    height: 150px;
    filter: invert(100%);  
    -webkit-filter: invert(100%);
    position: absolute;
}

#starburst {    
    top: -30px;
    right: -90px;
}

#starburst2 {
    bottom: -50px;
    left: -130px;
}

#cta-button {
    background-color: var(--bg-header);
    color: var(--textcolor-heading);
    font-size: var(--textsize-body);
    padding: 1.5rem;
    border-radius: 50px;
    border: 2px solid var(--textcolor-heading);
    cursor: pointer;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    display: flex;
}

header a, #cta-button a, footer a {
    text-decoration: none;
    color: var(--textcolor-heading);
}

header a:hover, #cta-button a:hover {
    text-decoration: underline;
    color: var(--bg-body);
}

#calendar-icon {
    margin-right: 1rem;
    vertical-align: text-bottom;
}